
<div style="padding: 20px;">
<hr style="color: purple;">
<h1 style="background-color: rgb(121, 43, 180); color: white; text-align: center;">Cart</h1>

@for(item of cartService.getCart(); track item.productId){
    <div class="cart-item">
        <h3 style="text-transform: uppercase;">{{ item.name }}</h3>
        <p>Price:{{ item.price }}</p>
        <p>Quantity:{{item.quantity}}</p>
        <div style="display: flex; gap: 10px;">
            <button mat-raised-button color="warn" (click)="removeFromCart(item)">Delete</button>
            <button mat-raised-button color="primary" (click)="cartService.incrementQuantity(item.productId)">+</button>
            <button mat-raised-button color="primary" (click)="cartService.decrementQuantity(item.productId)">-</button>
        </div>
    </div>
}

</div>

<div style="padding: 20px;">
    <h1>Total:{{ cartService.getTotal()}}</h1>
    <button mat-raised-button color="accent" (click)="checkOut()" >Checkout</button>
</div>

