<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="/assets/discontPica.PNG" style="width: 100px; height: 50px; ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="product">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer-orders">Your Orders</a>
        </li>
      </ul>
    </div>
    <button *ngIf="!this.isLogged" (click)="login()">Log in</button>
    <button *ngIf="this.isLogged" (click)="logout()">Log out</button>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
